/target
love

# Nix build outputs (nix build / nix build .#<name>)
result
result-*
./.vscode/**/*
.vscode

playground


# Added by cargo

dal_custom/target

# this is a folder that i normally use to test
# project/**/*
# project/.gitignore
# ./project